@page
@model CRUD_App1_bb.Pages.Student.IndexModel
@{
}

<br>
<h2>List of Student</h2>
<a class='btn btn-primary btn-sm' href='/Student/Create'>New Student</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>

        @{
            if (Model != null)
            {
                foreach (var item in Model.listStudents)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.name</td>
                        <td>@item.email</td>
                        <td>@item.phone</td>
                        <td>@item.address</td>
                        <td>@item.created_at</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="/Student/Edit?id=@item.id">Edit</a>
                            <a class="btn btn-danger btn-sm" href="/Student/Delete?id=@item.id">Delete</a>
                        </td>
                    </tr>
                }
            }
        }

        
    </tbody>
</table>
